body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background: url('traffic.jpg') no-repeat center center fixed;
  background-size: cover;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

header {
  margin-bottom: 20px;
}

header h1 {
  color: #e74c3c;
}

header p {
  color: #34495e;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upload-label {
  background-color: #3498db;
  color: #fff;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

#imagePreview {
  width: 100%;
  margin-bottom: 20px;
}

.image-preview img {
  width: 100%;
  border-radius: 5px;
}

button {
  background-color: #2ecc71;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #27ae60;
}
